.slide {
  height: 100vh;

  .carousel-indicators {
    padding: 15px;

    transform: translate(10%, 55%);


    .node--slider {
      background: $primary;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 12px;
    }

    .active {
      border: 3px solid #f4f4f4;
    }
  }

  .main {
    background: url(../images/pexels-hebert-santos-3757226.jpg) no-repeat center;
    position: relative;
    height: 95vh;
    display: flex;
    background-size: cover;
    align-items: center;
    flex-wrap: wrap;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #000, rgba(255, 255, 255, 0.315));
    }

    .main-3 {
      position: absolute;
      z-index: 1000;
      width: 50%;
      margin-left: 100px;

      h1 {
        font-weight: normal;
        color: white;
        font-size: 3rem;
      }
    }
  }

  .main-two {
    background: url(../images/slide1.jpg) no-repeat center;
    background-size: cover;

  }

  .main-one {
    background: url(../images/wensh.jpg) no-repeat center;
    background-size: cover;
  }

}

#service {
  header {
    font-size: 2.5rem;
    text-align: center;
  }

  .service--type {
    margin-top: 30px;

    .service--emergancy {
      margin-top: 30px;

      img {
        object-fit: cover;
        height: 60vh;
        width: 100%;

      }

      .service--emergancy--content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 2rem;

        .service--emergancy--items {
          padding: 20px;

          .service--emergancy--item {
            padding: 10px;

            i {
              margin-right: 7px;
            }

          }

          .emergancy--btn {
            padding: 15px 20px;
            background-color: $primary;
            color: white;
            font-size: large;
            text-transform: uppercase;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;

          }
        }
      }
    }
    .row{
      width: 100%;
    }

    .requist--repair {
      margin-top: 30px;

      img {
        object-fit: scale-down;
        height: 60vh;
        width: 100%;
      }

      .service--emergancy--content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 2rem;

        .service--emergancy--items {
          padding: 20px;

          .service--emergancy--item {
            padding: 10px;

            i {
              margin-right: 7px;
            }

          }

          .emergancy--btn {
            padding: 15px 20px;
            background-color: $primary;
            color: white;
            font-size: large;
            text-transform: uppercase;
            margin-top: 10px;
            text-align: center;
            font-weight: bold;

          }
        }
      }
    }
  }
}

.text {
  background: url(../images/slide1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding: 12vh 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: #000;
  }

  h2.heading {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: #ccc;
    width: 80%;
    margin: auto;
  }

  .padding {
    background: rgba(0, 0, 0, 0.527);
    margin: 2em auto auto;
    padding: 2.5em;

    h2 {
      color: #fff;
      letter-spacing: 2px;
      font-weight: 500;
    }

    .form-inputs {

      .btn {
        color: #fff;
        background-color: $primary;
        border: none;
        padding: 14px 0;
        outline: none;
        border-radius: 0;
        width: 100%;
        font-size: 15px;
        cursor: pointer;
        letter-spacing: 1px;
        transition: 0.5s all;
        margin-bottom: 15px;
      }

      textarea {
        outline: none;
        font-size: 14px;
        border: none;
        color: #666;
        background: #f1f1f1;
        letter-spacing: 0.5px;
        padding: 14px 20px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;

      }

      .form-input {
        outline: none;
        font-size: 17px;
        border: none;
        color: #666;
        background: #f1f1f1;
        letter-spacing: 0.5px;
        padding: 14px 20px;
        width: 49.5%;
        box-sizing: border-box;
        margin-bottom: 15px;

      }

      span {
        font-size: 13px;
        color: white;

        a {
          color: rgb(22, 22, 155);
        }
      }
    }
  }
}

.toprated {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  height: 90vh;
  position: relative;
  background: url(../images/slide1.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #000, rgba(255, 255, 255, 0.315));
    background-size: cover;
  }

  header {
    margin: 20px;
    font-size: 2.5rem;
    color: #f4f4f4;
  }

  .card--slider {
    padding: 0 30px;

    .card {
      margin-top: 20px;
      margin-right: 20px;
      text-align: center;
      width: auto;
      border: 2px black solid;
      border-radius: 7px;
      background-color: #f4f4f4;

      .card--img {
        margin: 10px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 135px;
          height: 135px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .card--info {
        list-style: none;
        font-size: 1.5rem;

        .card--info--item {
          padding: 6px;
          font-size: 1.5rem;

          i {
            margin-right: 15px;
            font-size: 1rem;
            color: #8c0909;
          }
          .checked {
            color: orange;
          }
        
        }
      }
      .btn {
        background-color: #d89216;
        margin: 20px;
        color: white;
        font-size: 20px;
        padding: 15px 17px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 40px;
      }
    }
  }

}