// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
body {
    background-color: $light;
}

*::selection {
    background-color: $secondary;
    color: $text-light;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}


/*********** tooltip ***********/


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #171616b6;
    color: #f4f4f4;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}