/**
 * Basic typography style for copy text
 */

body {
    color: $text-dark;
    font: normal 125% / 1.4 $text-font-stack;
    background-color: $light;
}


/**
*   Basic Classes
**/

.mark {
  background-color: $secondary;
  color: $text-light;
}