/**
 * Basic typography style for copy text
 */

body {
    color: $text-dark;
    font: normal 125% / 1.4 $text-font-stack;
}

h1,
h2,
h3,
h3,
h5,
h6 {
    font-family: $header-font-stack;
}
a{
  color: white;
  text-decoration: none;
 
}
ul{
  list-style: none;
}


/**
*   Basic Classes
**/

.mark {
    background-color: $secondary;
    color: $text-light;
}