@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
/***
* Main theme colors
***/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
body {
  background-color: #f4f4f4;
}

*::-moz-selection {
  background-color: #3A3535;
  color: #ffffff;
}

*::selection {
  background-color: #3A3535;
  color: #ffffff;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/*********** tooltip ***********/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #171616b6;
  color: #f4f4f4;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #171616;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**
*   Basic Classes
**/
.mark {
  background-color: #3A3535;
  color: #ffffff;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  border-radius: 40px;
  border: none;
}

/***********************************
*   Signup style 
***********************************/
.signup--page {
  background-color: #171616;
  background-size: cover;
}

.signup--page::after {
  content: "";
  position: absolute;
  background: url("/public/assets/images/sigup-background.jpg");
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.signup--page .header--border {
  width: 4rem;
  margin: 0px;
  border-bottom: 2px solid #d3d3d3;
  border-top: 0;
}

@media (min-width: 992px) {
  .signup--page .right--side {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}

@media (min-width: 576px) and (max-width: 991) {
  .signup--page .right--side {
    border-radius: 0.4rem;
  }
}

@media (max-width: 575.98px) {
  .signup--page .right--side {
    border-radius: 0;
  }
  .signup--page container {
    width: 70%;
    margin: auto;
  }
}

.signup--page .content a.main--link:hover {
  text-decoration: none;
}

.signup--page .signup--form td {
  position: relative;
}

.signup--page .signup--form i {
  color: #d89216;
  position: absolute;
  bottom: 1.6rem;
  font-size: 16px;
}

.signup--page .signup--form i.error--icon {
  display: none;
  color: #8c0909;
  padding-top: 10px;
  margin-left: -20px;
}

.signup--page .signup--form .col-sm-6 input.delete--padding {
  padding-left: 0rem;
}

.signup--page .signup--form input {
  display: inline-block;
  height: 2.2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.1rem;
  padding-left: 2.1rem;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background-color: transparent;
  color: #171616;
  font-size: 18px;
}

.signup--page .signup--form input:active {
  border-bottom: 1rem solid #8c0909;
}

.signup--page .signup--form input:focus {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(60deg, #f7c02b, #d89216);
  padding-left: 0.5rem;
  -webkit-animation: moveGradient 3s ease alternate infinite;
          animation: moveGradient 3s ease alternate infinite;
}

.signup--page .signup--form input:-webkit-autofill, .signup--page .signup--form input:-webkit-autofill:hover, .signup--page .signup--form input:-webkit-autofill:focus, .signup--page .signup--form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1.8rem #f4f4f4 inset !important;
  box-shadow: 0 0 0 1.8rem #f4f4f4 inset !important;
}

@-webkit-keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signup--page .signup--form .btn-primary {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.signup--page .left--side {
  background-color: #171616d3;
  border-radius: 0.4rem 0 0 0.4rem;
}

.signup--page .left--side .carousel-indicators {
  bottom: 10px;
  opacity: 0.7;
}

.signup--page .left--side .carousel-indicators i {
  width: 15px;
  height: 25px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 13px;
}

.signup--page .left--side .carousel-indicators .active {
  background-color: transparent;
  color: #d89216;
}

.signup--page .left--side .carousel-caption {
  color: #ffffff;
  text-align: center;
}

.signup--page .left--side .carousel-caption span {
  font-family: "Roboto", sans-serif;
  color: #d89216;
  font-size: 1.3em;
}

.signup--page .left--side .carousel-item {
  padding: 1rem;
  margin-bottom: 2rem;
}

.signup--page .left--side img {
  height: 470px;
  margin-bottom: 1.5rem;
}

.signup--page .alert {
  position: absolute;
  z-index: 1;
  top: 2rem;
  padding: 0.5rem 2.4rem;
  background-color: #8c0909;
  color: white;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
}

/***********************************
*   login page style 
***********************************/
.login--page {
  background-color: #171616;
  background-size: cover;
}

.login--page::after {
  content: "";
  position: absolute;
  background: url("/public/assets/images/sigup-background.jpg");
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.login--page .container {
  width: 100%;
  margin-top: 5rem;
}

.login--page .login--header {
  color: #d89216;
  font-weight: 700;
}

.login--page .card {
  border: none;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #f4f4f4;
  border-radius: 0px;
}

.login--page .invalid-login {
  color: #8c0909;
  font-size: 17px;
}

.login--page [type="submit"] {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  font-size: 1em;
  border-radius: 0px;
}

.login--page .form-group.login--form--group {
  margin-bottom: 2rem;
}

.login--page .form-group input[type="text"],
.login--page .form-group input[type="password"] {
  display: block;
  width: 100%;
  height: 2.2rem;
  padding-bottom: 0.1rem;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background-color: transparent;
  color: #171616;
  font-size: 17px;
}

.login--page .form-group input[type="text"]:active, .login--page .form-group input[type="text"]:focus,
.login--page .form-group input[type="password"]:active,
.login--page .form-group input[type="password"]:focus {
  padding-left: 0.5rem;
  background-color: #ffffff67;
}

.login--page .form-group input[type="text"] ~ label,
.login--page .form-group input[type="password"] ~ label {
  position: absolute;
  color: #3A3535;
  top: 0;
  left: 0;
}

.login--page .form-group input[type="text"]:focus ~ label,
.login--page .form-group input[type="text"] ~ label.t,
.login--page .form-group input[type="password"]:focus ~ label,
.login--page .form-group input[type="password"] ~ label.t {
  top: -21px;
  left: -7px;
  color: #d89216;
  font-size: 0.8em;
}

.login--page .form-group input[type="text"] ~ .focus-border,
.login--page .form-group input[type="password"] ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d89216;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login--page .form-group input[type="text"]:focus ~ .focus-border,
.login--page .form-group input[type="password"]:focus ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 575px) {
  .login--page .form-group.form-check {
    margin-left: -0.5rem;
  }
}

@media (min-width: 576px) {
  .login--page .form-group.form-check {
    margin-left: 3rem;
  }
}

@media (min-width: 768px) {
  .login--page .form-group.form-check {
    margin-left: 3.5rem;
  }
}

@media (min-width: 992px) {
  .login--page .form-group.form-check {
    margin-left: 3.8rem;
  }
}

@media (min-width: 1200px) {
  .login--page .form-group.form-check {
    margin-left: 4.7rem;
  }
}

.login--page .form-group.form-check .form-check-input {
  height: 20px;
}

.login--page .login--footer {
  font-size: 0.75em;
  text-align: center;
}

.profile--page {
  /* Rounded tabs */
}

.profile--page .card {
  margin-top: 8rem;
  border: none;
  border-radius: 5px;
  padding-top: 9rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile--page .profile--photo {
  display: block;
  position: absolute;
  top: -4rem;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.profile--page .profile--photo:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile--page #name {
  color: #3A3535;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}

.profile--page .title {
  font-family: "Comfortaa", cursive;
  color: #d89216;
}

.profile--page .rounded-nav {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  width: 35%;
}

@media (max-width: 575px) {
  .profile--page .rounded-nav {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .profile--page .rounded-nav {
    width: 77%;
  }
}

@media (min-width: 768px) {
  .profile--page .rounded-nav {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .profile--page .rounded-nav {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .profile--page .rounded-nav {
    width: 31%;
  }
}

@media (min-width: 576px) {
  .profile--page .rounded-nav {
    border-radius: 50rem !important;
  }
  .profile--page .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

.profile--page #editInfo,
.profile--page #editPref {
  padding: 0.4rem 2rem;
}

.profile--page #editInfo.btn-primary,
.profile--page #editPref.btn-primary {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */