@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
/***
* Main theme colors
***/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
*::-moz-selection {
  background-color: #d89216;
  color: #ffffff;
}
*::selection {
  background-color: #d89216;
  color: #ffffff;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #3a3535;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**
*   Basic Classes
**/
.mark {
  background-color: #3A3535;
  color: #ffffff;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  border-radius: 40px;
  border: none;
}

.errorImage {
  width: 10rem;
}

.errorSpan {
  color: #d89216;
}

/***
    * Main theme colors
    ***/
.singleWarsha {
  color: #3a3535;
  background-color: #f4f4f4;
}

.searchDiv {
  background-color: #ffffff;
}

.searchDiv .warshacart {
  border-left: 6px solid black;
  height: 30px;
}

.Warshacircle {
  height: 15px !important;
  width: 15px !important;
  border-radius: 100% !important;
  cursor: pointer !important;
  background-color: #3A3535 !important;
}

.Warshacircle.active {
  background-color: #f79f24 !important;
}

.warshaMain {
  color: #3a3535;
  background-color: #f4f4f4;
}

.warshaSlideShow {
  margin-bottom: 50px;
}

.review {
  position: relative;
  /*styling star rating*/
}

.review .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
  background: #f79f24;
}

.review .warshaMain {
  color: #3a3535;
  background-color: #f4f4f4;
}

.review #txtArea {
  height: 6.25rem;
  width: 100%;
  padding: 1rem;
}

.review .warshaModalName {
  color: #064acb;
}

.review .rating {
  border: none;
  float: left;
}

.review .rating > input {
  display: none;
}

.review .rating > label:before {
  content: '\f005';
  font-family: FontAwesome;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.review .rating > .half:before {
  content: '\f089';
  position: absolute;
  cursor: pointer;
}

.review .rating > label {
  color: #f4f4f4;
  float: right;
  cursor: pointer;
}

.review .rating > input:checked ~ label,
.review .rating:not(:checked) > label:hover,
.review .rating:not(:checked) > label:hover ~ label {
  color: #3A3535;
}

.review .rating > input:checked + label:hover,
.review .rating > input:checked ~ label:hover,
.review .rating > label:hover ~ input:checked ~ label,
.review .rating > input:checked ~ label:hover ~ label {
  color: #3A3535;
}

.services .serviceName {
  font-size: medium;
}

.services .price {
  color: #064acb;
}

.services .priceImage {
  width: 300px;
  height: 200px;
}

.services .AddToCard:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.clientFeedback .feedback {
  text-align: center;
  margin: auto;
}

.clientFeedback .commentIconBackground {
  width: 30px;
  height: 28px;
  border-radius: 50%;
  background-color: #f79f24;
  margin: auto;
}

.clientFeedback .commentIcon {
  color: #ffffff;
}

.clientFeedback .userInfo {
  text-align: left;
  display: inline-block;
}

.clientFeedback .userName {
  color: #064acb;
}

.clientFeedback .date {
  font-size: medium;
}

.clientFeedback .clientImage {
  width: 80px;
}

.clientFeedback .userComment {
  font-size: medium;
  text-align: left;
}

.warshaimg,
.blog-img,
.user-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 992px) {
  .review .overlay {
    width: 50%;
  }
  .WarshaCurosal {
    padding-right: 100px;
    padding-left: 100px;
  }
  .clientFeedbackCard {
    max-width: 35%;
  }
}

@media (max-width: 991.98px) {
  .review .overlay {
    opacity: .9;
  }
}

.aboutUS {
  color: #3A3535;
  background-color: #f79f24;
}

.aboutUS .warshaIcon {
  font-size: 25px;
}

.EditService {
  background-color: #ffffff;
}

.EditService .DeleteService {
  color: #8c0909;
}

.EditService .UpdateService {
  color: #3A3535;
}
/*# sourceMappingURL=main.css.map */