  .WshopTd{
    margin-bottom: 3.8rem;
    float: left;
    width: 40.625rem;
    height: 15rem;
    .col-md-6{
      padding-right: -1.5%;
      padding-left: 2rem !important;
  
    }
  }
   
  .box{
    display: inline;   
    font: 25rem 0.833rem Arial;  
    text-align: center;
   
  }
  .box select {
    background-color: #d89216;
    color: white;
    border-radius: 2.5rem;
    padding: 0.625rem;
    width: 15.625rem;
    border: none;
    font-size: 0.938rem;
   font-size: large;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    text-align: center;
    margin-left: 5rem;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
  
  }
  
  .box::before {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 1.75rem;
    line-height: 2.813rem;
   
    pointer-events: none;
  }
  
  .box:hover option {
    color: rgba(255, 255, 255, 0.6);
    background-color: #faac24;
  }
  
  .box select option {
    padding: 1rem;
  }
  
  .workShops{
    .row{
           margin-right: 0px !important;
           margin-left:  0px !important;
        }
        .col-md-6{
          padding-left: 2rem !important;
      
        }

  }